@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,200&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --background-elements: rgba(255, 255, 255, 0.714);
  --box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.298);
}
body {
  background-image: url(imagens/damian-denis-D8R_txR_0PE-unsplash.jpg);

  background-size: cover;
  min-height: 100vh;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.body-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.835),
    rgba(0, 0, 0, 0.229)
  ); /* Cor preta semitransparente */
  z-index: -1;
}
h1 {
  color: rgb(255, 255, 255);
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.494);
  font-weight: normal;
  font-size: 4em;
  margin: 4rem 0;
}

h2 {
  color: rgb(255, 255, 255);
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.494);
  font-style: italic;
  font-weight: normal;
  font-size: 2em;
  margin: 4rem 0;
}
.custom-font-size {
  font-weight: 600;
  font-size: 3vw;
  background-color: green;
  padding: 10px;
  border-radius: 10px;
  text-shadow: none;
} /*classe criada via javascript através de textChange.classList.add("custom-font-size"); */
.countdown-container {
  box-sizing: border-box;
  width: 80%;
  height: auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.714);
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.298);
}
span {
  background-color: rgba(171, 171, 171, 0.438);
  padding: 5px;
  border-radius: 10px;
}
.big-text {
  font-size: 8vw;
  line-height: 1;
  margin: 0 2rem;
  font-weight: bold;
}
.countdown-el {
  max-height: 100%;
  max-width: 100%;
  text-align: center;
}
.countdown-el span {
  font-size: 1.3em;
}
.second-background-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(171, 171, 171, 0.438);
  padding: 20px;
  border-radius: 10px;
  transition: 0.3s ease;
  box-shadow: var(--box-shadow);
}
.second-background-style:hover {
  background-color: rgb(146, 16, 16);
}
.buttons {
  /*background-color: rgba(171, 171, 171, 0.438);*/
  padding: 10px;
  border-radius: 5px;
  /*box-shadow: var(--box-shadow);*/
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  margin-bottom: -8px;
}
.style-buttons {
  font-weight: bold;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;

  transition: 0.4s ease;
}
.style-buttons:hover {
  color: white;
  font-size: 0.9em;
}
#easy-knowledge:hover {
  background-color: rgb(34, 131, 34);
}
#medium-knowledge:hover {
  background-color: rgb(226, 143, 26);
}
#hard-knowledge:hover {
  background-color: rgb(214, 2, 2);
}
label {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: white;
}
#acquired-knowledge {
  width: 200px;
  height: 2.5vh;
  border-radius: 3px;
  outline: none;
  margin-left: 10px;
  border: none;
}

@media screen and (max-width: 810px) {
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 1.5em;
  }
  .countdown-container {
    width: 90%;
    justify-content: center;
  }

  .countdown-el span {
    font-size: 1em;
  }
}

@media screen and (max-width: 690px) {
  h1 {
    font-size: 2.5em;
  }
  .buttons {
    margin-bottom: 30px;
  }
  h2 {
    margin: 48px 0;
  }
  .countdown-container {
    width: 50%;
    display: block;
    transition: 0.7s ease;
    justify-content: center;
  }

  .countdown-el span {
    font-size: 1em;
    transition: 0.2s ease;
  }
  .countdown-el {
    margin-top: 30px;
  }
  .countdown-el:first-child {
    margin-top: 0; /* Remove a margem superior apenas do primeiro elemento */
  }
  span {
    background-color: rgba(0, 0, 0, 0.438);
    color: white;
    padding: 5px;
    border-radius: 10px;
  }
  .second-background-style {
    height: 13vh;
  }
}
@media screen and (max-width: 500px) {
  .countdown-el span {
    font-size: 0.8em;
  }

  .second-background-style {
    height: 14vh;
    margin: 0 20px;
  }
}
@media screen and (max-width: 430px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }
}
